<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Car</h1>

<f:flashMessages />

	<h2>Filterable Table</h2>
	<p>Type something in the input field to search the table for first names, last names or emails:</p>
	<input class="form-control" id="myInput" type="text" placeholder="Search..">
	<br>
<table  class="tx_cardata table table-bordered table-striped" >
	<tr>
		<th><f:translate key="tx_cardata_domain_model_car.manufacturer" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.model" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.year" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.class" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.fuel_type" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.savings" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.cylinders" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.city_m_p_g" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.highway_m_p_g" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.combined_m_p_g" /></th>
		<th><f:translate key="tx_cardata_domain_model_car.fuel_cost" /></th>
		<!--<th> </th>
		<th> </th>-->
	</tr>
	<tbody id="myTable">
	<f:for each="{cars}" as="car">
		<tr>
			<td><f:link.action action="show" arguments="{car : car}"> {car.manufacturer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.model}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.year}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.class}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.fuelType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.savings}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.cylinders}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.cityMPG}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.highwayMPG}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.combinedMPG}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.fuelCost}</f:link.action></td>
			<!--<td><f:link.action action="edit" arguments="{car : car}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{car : car}">Delete</f:link.action></td>-->
		</tr>
	</f:for>
	</tbody>
</table>

<f:link.action action="new">New Car</f:link.action>
</f:section>

</html>